WX_APP_ID=wx_your_app_id
WX_APP_SECRET=replace_in_scf_console
ALLOWED_OPENIDS=openid_user_one,openid_user_two
SESSION_SECRET=replace_with_at_least_32_random_characters
COS_BUCKET=examplebucket-1250000000
COS_REGION=ap-guangzhou
COS_PREFIX=gift-folder
OPENID_DISCOVERY=false
